body {
    background-image: url('/static/images/wallpaper.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: left;
    background-color:darkblue;
}

li a {
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: wheat;
    border: 1px solid gray;
}

li a:hover {
    background-color:aqua;
}

button {
    background-color:blue;
    color: wheat;
    border: 1px;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: aqua;
}

h1 {
    color:turquoise;
}

h3 {
    color: navy;
    font-size: 150%;
}

p,pre,label {
    color:blueviolet;
}
